.button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.button.default {
  background-color: #67595E;
  color: #EED6D3;
}

.button.primary {
  background-color: #E8B4B8;
  color: #67595E;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button .text {
  display: inline-block;
  transition: transform 0.3s;
}
