html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-image: url('../images/house.jpg'); 
  background-size: cover;
  background-position: center;
  height: 80vh; 
  position: relative;
}

.main-text {
  max-width: 60%;
  color: #FFFFFF;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 40px 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.main-text h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  margin-bottom: 20px;
  color: #FFFFFF; 
}

.main-text p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #FFFFFF; 
}

.main-text span {
  font-size: 1.2em;
  color: #FFFFFF;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  margin: 0 10px;
}



.footer {
  margin-top: auto;
}


@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    text-align: center;
  }

  .main-text {
    max-width: 90%;
  }

  
}
