html,
body {
  margin: 0;
  padding: 0;
  /*justify-content: center;
  align-items: center;*/
   /*overflow: hidden;  Disable scrolling */
  height: 100%; /* Ensure the body takes full height */
}


.Landing {
  z-index: -999;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Stack header and buttons vertically */
}

#particles-js {
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
  background: #67595E;
}

.pageheader {
  text-align: center;
  color: #EED6D3;
  text-transform: uppercase;
}

.pageheader h1 {
  font-family: 'Cormorant Garamond';
  font-size: 5cem;
  margin-top: 5%;
}

.pageheader h2 {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  margin-top: 3%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
 /* margin-top: 20px; /* Adjust margin to position buttons */
  margin-top: 10%;
}

.logo {
  margin-bottom: 5%;
  margin-top: 5%;

}





.button {
  position: relative;
  width: 13em;
  height: 50px;
  overflow: hidden;
  border: 1px solid #fdfdfd;
  cursor: pointer;
  margin: 0 2em; /* Space between buttons */
}



@media (max-width: 720px) {
  .buttons-container {
    flex-direction: column; /* Stack buttons vertically on small screens */
  }

  .button {
    margin: 10px 0; /* Adjust margin for vertical stacking */
  }
}