.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #EED6D3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand a {
    font-size: 24px;
    font-weight: bold;
    color: #67595E;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    font-size: 16px;
    color: #67595E;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #A49393;
  }
  
  .navbar-links .fa-search {
    font-size: 18px;
  }
  