.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EED6D3;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 60px; 
}

.navbar a {
  color: #67595E;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
  color: #B56576;
  transform: scale(1.1);
}

.navbar .navbar-brand a {
  font-size: 24px;
  font-weight: bold;
  color: #67595E;
}

.navbar .navbar-brand a:hover {
  color: #B56576;
}

.navbar .navbar-links {
  display: flex;
  align-items: center;
}

.user-actions {
  display: flex;
  align-items: center;
  height: 100%; /* Ensure consistent height */
}

.user-actions .user-greeting {
  margin-right: 10px;
  font-weight: bold;
  color: #67595E;
}

.logout-button {
  background: none;
  border: none;
  color: #67595E;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.logout-button:hover {
  color: #B56576;
  transform: scale(1.1);
}

.navbar .search-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%; /* Ensure the search container is the full height of the navbar */
}

.navbar .search-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #67595E;
  border-radius: 15px;
  padding: 2px 5px;
  margin-right: 10px;
  height: 30px; /* Adjust the search bar height */
}

.navbar .search-container .search-select {
  border: none;
  outline: none;
  padding: 2px 5px;
  background-color: #EED6D3;
  border-radius: 15px;
  margin-right: 5px;
}

.navbar .search-container .search-input {
  padding: 2px 5px;
  border: none;
  outline: none;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 17px;
  width: 200px;
}

.navbar .search-container .search-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
}

.navbar .search-container .search-results {
  position: absolute;
  top: 40px; /* Position the results dropdown below the search bar */
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
}

.navbar .search-container .search-results > div {
  padding: 8px 16px;
  cursor: pointer;
}

.navbar .search-container .search-results > div:hover {
  background-color: #f0f0f0;
}

.no-results {
  padding: 8px 16px;
  color: red;
}
.likes-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
