.notification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eed6d3;
  color: #67595e;
  font-family: "Arial", sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  border: 2px solid #a49393;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-text {
  margin-bottom: 20px;
}

.notification-prompts {
  text-align: center;
  font-size: 1em;
  color: #67595e;
  margin-bottom: 20px;
}

.notification-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.notification-prompt {
  margin: 5px 0;
  color: #67595e;
}
